extends ../app

block variables
  - var sidebarActive = 1

block content
  .services-page
    .panel 
      .panel__text 
        |Услуги
    section.section.section--first-panel(data-real-tabs='')
      .container
        .tabs.tabs--wide 
          .tabs__list
            each item, i in ['Подключенные', 'Доступные', 'Специальные акции и предложения', 'История смены тарифов']
              .tabs__item(class=(i === 0 ? 'active' : null) data-tabs-item='')
                |#{item}
        .services-page__inner 
          .services-page__block.active(data-tabs-block='')
            .service-grid
              -
                var ddata = [
                  {
                    title: 'Интернет',
                    icon: "globe",
                    id: true,
                    items: [
                      {
                        label: 'Тариф',
                        text: 'The Best / 100 МБ'
                      },
                      {
                        label: 'Абонемент до',
                        text: '31.10.21'
                      },
                    ],
                    price: "3 900 ₽/12 мес",
                  },
                  {
                    title: "Телевидение",
                    icon: "tv",
                    id: true,
                    items: [
                      {
                        label: 'Тариф',
                        text: 'Пакет «Базовый» коллективный договор'
                      },
                    ],
                    price: "220 ₽/мес",
                    caption: "Оплата вĸлючена в ĸвитанцию ЖКУ",
                  },
                  {
                    title: "ЦТВ",
                    icon: "tv",
                    id: true,
                    items: [
                      {
                        label: 'Модуль',
                        text: 'CAM-модуль 123456789'
                      },
                      {
                        label: 'Абонемент до',
                        text: '31.10.21'
                      },
                    ],
                    caption: "Оплата вĸлючена в ĸвитанцию ЖКУ",
                  },
                  {
                    title: "ЦТВ",
                    icon: "tv",
                    items: [
                      {
                        label: 'Модуль',
                        text: 'CAM-модуль 123456789'
                      },
                    ],
                    price: "170 ₽/мес",
                  },
                  {
                    title: "ОТТ",
                    icon: "tv",
                    price: "170 ₽/мес",
                  },
                  {
                    title: "Телефония",
                    icon: "call",
                    items: [
                      {
                        label: 'Тариф',
                        text: 'Минуты под контролем'
                      },
                    ],
                    price: "170 ₽/мес ",
                  },
                  {
                    title: "Видеонаблюдение",
                    icon: "record",
                    price: "170 ₽/мес "
                  },
                ]
              each item in ddata
                a.service-card.service-card--big(href="#") 
                  .service-card__container 
                    .service-card__top
                      .service-card__inner
                        .service-card__icon.default
                          case item.icon 
                            when 'globe'
                              +globe-svg.service-card__svg 
                            when 'tv'
                              +tv-svg.service-card__svg 
                            when 'call'
                              +call-svg.service-card__svg 
                            when 'record'
                              +record-svg.service-card__svg
                        .service-card__status 
                          |Активна
                      .service-card__title 
                        |#{item.title}
                      if (item.id)
                        .service-card__id 
                          +copy-second
                      if (item.items)
                        ul.service-card__list 
                          each module in item.items
                            li.service-card__item 
                              .service-card__label
                                |#{module.label}
                              .service-card__text 
                                |#{module.text}
                    .service-card__bot
                      if (item.caption)
                        .service-card__bot-text 
                          .section__label 
                            |#{item.caption}
                      .service-card__bot-row
                        .service-card__col
                          if (item.price)
                            .service-card__label
                              |Абонентская плата
                            .service-card__price 
                              |#{item.price}
                        .service-card__col
                          .service-card__settings 
                            +settings-svg
          .services-page__block(data-tabs-block='')
            .service-grid
              -
                var ddata = [
                  {
                    title: 'Онлайн ТВ "iPakt"',
                    icon: "screen",
                    count: '1',
                  },
                  {
                    title: "Интернет",
                    icon: "globe",
                    count: '6',
                  },
                  {
                    title: "Телевидение",
                    icon: "tv",
                    count: '1',
                  },
                  {
                    title: "Телефония",
                    icon: "call",
                    count: '1',
                  },
                  {
                    title: "Видеонаблюдение",
                    icon: "record",
                    count: '2',
                  },
                  {
                    title: "Умный домофон",
                    icon: "intercome",
                    count: '2',
                  },
                ]
              each item, i in ddata
                a.service-card(class=(i == 0 ? 'service-card--alt' : null) href="#")
                  .service-card__container 
                    .service-card__top
                      .service-card__icon
                        case item.icon 
                          when 'screen'
                            +screen-svg.service-card__svg 
                          when 'globe'
                            +globe-svg.service-card__svg 
                          when 'tv'
                            +tv-svg.service-card__svg 
                          when 'call'
                            +call-svg.service-card__svg 
                          when 'record'
                            +record-svg.service-card__svg 
                          when 'intercome'
                            +intercome-svg.service-card__svg 
                      .service-card__title 
                        |#{item.title}
                      .tooltip.tooltip--big
                        .service-card__link(data-tooltip-icon='')
                          |Подробнее
                        .tooltip__container 
                          .service-card__tooltip
                            .service-card__tooltip-title 
                              |Умный домофон
                            .service-card__tooltip-text 
                              |Удаленный доступ через мобильное приложение к системам контроля безопасности вашего дома 
                            object
                              a.service-card__link(href="#")
                                |Более подробно на сайте 
                    .service-card__bot 
                      .service-card__bot-row
                        .service-card__col
                          if (item.count)
                            .service-card__count 
                              |#{item.count} тарифов
                        .service-card__col
                          object
                            a.service-card__btn(href="#") 
                              if (i === 1)
                                |Можно дешевле
                              else 
                                |Смотреть тарифы
          .services-page__block(data-tabs-block='')
            h3.section__title 
              |Специальные акции и&nbsp;предложения
            .services-page__categories 
              .categories
                each item, i in ['Все (6)', 'Интернет (1)', 'Телевидение (4)', 'Онлайн ТВ', 'Телефония (1)', 'Облачное видеонаблюдение REC (3)', ]
                  .categories__item 
                    .categories__btn(class=(i===0 ? 'active' : null))
                      |#{item}
            .services-page__offer
              .services-page__offer-container
                .services-page__offer-title 
                  |Онлайн ТВ «iPakt» на 5 устройствах
                .services-page__offer-text 
                  |Вам доступен сервис онлайн ТВ «iPakt» на 5 устройстсвах. Пакет "Популярный"     
                .services-page__offer-btn 
                  button.button.button--black 
                    |Подключить
                a.services-page__offer-link(href="#") 
                  |Подробнее об опции на сайте
            .services-page__list 
              .services-page__item
                .services-page__item-heading 
                  |Интернет
                .services-page__item-grid 
                  - for (i = 0; i < 7; i++)
                    .services-page__card
                      .services-page__card-container
                        .services-page__card-icon 
                          +fire-svg.services-page__card-svg
                        .services-page__card-top
                          .services-page__card-heading.underline
                            |2 Мбит
                          .services-page__card-body 
                            .services-page__card-list 
                              .services-page__card-item 
                                .services-page__card-label 
                                  |Скорость
                                .services-page__card-text 
                                  |2 Мбит/с
                        .services-page__card-bot 
                          .services-page__card-price 
                            |150 ₽/мес 
                          .services-page__card-btn 
                            |Подключить
              .services-page__item
                .services-page__item-heading
                  |Внешний IP-адрес 
                .services-page__item-grid 
                  .services-page__card.small
                    .services-page__card-container
                      .services-page__card-top
                        .services-page__card-heading.tooltip
                          |Внешний IP-адрес
                          span.tooltip__icon(data-tooltip-icon='')
                            +tooltip-svg.tooltip__svg 
                          .tooltip__container 
                            |Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum architecto reprehenderit sed!
                      .services-page__card-bot 
                        .services-page__card-price 
                          |150 ₽/мес 
                        .services-page__card-btn 
                          |Подключить
          .services-page__block(data-tabs-block='')
            -
              var labels = ['Дата подключения', 'Категория', 'Тариф', 'Дата смены тарифа',] 
            .services-page__history
              h3.section__title 
                |История смены тарифов
              .services-page__history-calendar 
                |CALENDAR 
              .only-desktop
                .services-page__history-grid
                  each item in labels 
                    .services-page__history-label 
                      |#{item}
              - for (i = 0; i < 3; i++)
                .services-page__history-line
                  .services-page__history-grid 
                    each item, j in ['24.01.2021', 'Интернет', '100 Мбит/с', '01.09.2021',]
                      .services-page__history-item 
                        .only-mobile
                          .services-page__history-label 
                            |#{labels[j]}
                        .services-page__history-text 
                          |#{item}
                  .services-page__history-mobile 
                    .services-page__history-inner 
                      .services-page__history-text 
                        |Интернет
                    .services-page__history-inner 
                      .services-page__history-text 
                        |Базовый пакет