
mixin input
  .input-wrapper(data-input-parent='')
    .input-wrapper__placeholder
      |#{attributes.placeholder}
    input.input(data-input='' required)&attributes(attributes)

mixin input-second
  .input-wrapper.input-wrapper--secondary(data-input-parent='')
    .input-wrapper__placeholder
      |#{attributes.placeholder}
    input.input(data-input='' required)&attributes(attributes)

mixin checkbox 
  .checkbox(class=attributes.class)
    label.checkbox__label
      input.checkbox__input(type="checkbox" required=(!attributes.required ? true : false) id=attributes.id checked=attributes.checked)
      .checkbox__box 
        +check-svg.checkbox__svg
      if (attributes.text)
        .checkbox__caption(class=(attributes.big ? 'big' : null))
          |#{attributes.text}
      else 
        .checkbox__text
          |Даю согласие на обработку #[a.checkbox__link(href="#") персональных данных]

mixin select
  .select-wrapper 
    .select
      select.select__select(data-select-placeholder=attributes.placeholder style='width: 100%')
        if (attributes.placeholder)
          option(value='' disabled selected)
        each item, i in attributes.options
          option(value=(attributes.values ? attributes.values[i] : item))
            |#{item}
