
mixin response-modal 
  .response-modal(data-response=attributes.id)
    .response-modal__container 
      .response-modal__icon
        +ok-svg.response-modal__svg
      .response-modal__title
        |#{attributes.title}
      .response-modal__button 
        a.button(href="#")
          |#{attributes.btn}
    .response-modal__close(data-fancybox-close='')
      +cross-alt-svg.response-modal__close-svg
    
mixin request-modal
  .response-modal(data-response=attributes.id)
    .response-modal__container 
      .response-modal__icon
        +connect-svg.response-modal__svg
      .response-modal__title
        |Заявка на подключение услуги отправлена
      .response-modal__button 
        .button(data-fancybox-close='')
          |Ок
    .response-modal__close(data-fancybox-close='')
      +cross-alt-svg.response-modal__close-svg

mixin modules-modal 
  .modules-modal.modal(data-fancy-modal='modules' data-tv-modal='')
    if (attributes.empty)
      .modules-modal__empty
        .modules-modal__empty-icon 
          +tv-plus-svg.modules-modal__empty-svg 
        .modal__title 
          |Дополнительные модули подключенны
        .modules-modal__empty-text 
          |Вы можете в любой момент изменить подписку. Списание абонентской платы происходит ежедневно. 
    else
      .modules-modal__container 
        .modules-modal__title 
          |#{attributes.title}
        .modules-modal__grid 
          - for (i = 0; i < 7; i++)
            .modules-modal__item 
              if (attributes.isTv)
                .modules-modal__item-icon 
                  +fire-svg.modules-modal__item-svg 
              .modules-modal__top 
                +checkbox(text='Развлекательный ' big = true)
              .modules-modal__inner
                if (attributes.isTv)
                  .modules-modal__link.blue(data-tv-button='')
                    |Список каналов
                .modules-modal__price 
                  if (attributes.isTv)
                    .services-page__card-label 
                      |Стоимость
                    .connected-page__text 
                      |220 ₽ / мес.
                  else
                    .services-page__card-label 
                      |Стоимость
                    .connected-page__text 
                      |220 ₽ / мес.
                if (!attributes.isTv)
                  .modules-modal__wrapper
                    .tooltip.tooltip--big
                      .modules-modal__link(data-tooltip-icon='')
                        |Подробнее
                      .tooltip__container 
                        |Возможность объединять изображения с двух видео источников в одно.
        .modules-modal__bot
          .connected-page__bot
            .connected-page__bot-col
              .connected-page__bot-item
                .connected-page__btn
                  button.button.button--small
                    |Сохранить
              .connected-page__bot-item
                .connected-page__btn
                  button.button.button--outline.button--small
                    |Отменить
            .connected-page__bot-col
              .services-page__card-label 
                |Итоговая стоимость
              .connected-page__heading
                |500 ₽/мес.
        .modules-modal__caption 
          |Я ознакомлен и согласен с условиями #[a(href="#") подключения доп. модулей]
      if (attributes.isTv)
        .modules-modal__channels
          .modules-modal__channels-top
            .modules-modal__channels-wrapper
              .modules-modal__arrow(data-tv-button='')
                +arrow-left-svg.modules-modal__arrow-svg
            .modules-modal__title 
              |Развлекательный 
            .modules-modal__text 
              |Все популярные каналы и новинки ТВ-проката в одном пакете.
          .modules-modal__channels-container 
            .modules-modal__channels-grid
              - for (i = 0; i < 7; i++)
                each item in ['АВТО + ', 'ФУТБОЛ', 'БЛОКБАСТЕР', 'ХИТ', 'ДОМ КИНО', 'ПРЕМИУМ', 'AMEDIA HIT', 'КИНОПОКАЗ'] 
                  .modules-modal__channels-item 
                    |#{item} #[span hd]
    .modal__icon(data-fancybox-close='')
      +cross-alt-svg.modal__svg

mixin service-modal 
  .modal.service-modal(data-fancy-modal='service')
    .service-modal__container 
      .modal__title.left
        |Услуга уже подключена
      .service-modal__text 
        |По указанному Вами адресу уже подключены все выбранные Вами услуги. Если Вы хотите сменить тарифный план, перейдите на страницу Вашей услуги для выбора нового тарифа. 
      .service-modal__caption 
        |Продолжить оформление заявки на подключение услуг?
      .service-modal__btns 
        .service-modal__item 
          button.button.button--outline.button--small(data-fancybox-close='')
            |Отменить
        .service-modal__item 
          a.button.button--small(href="#") 
            |Продолжить
    .modal__icon(data-fancybox-close='')
      +cross-alt-svg.modal__svg.small

mixin feedback-modal 
  .feedback-modal(data-fancy-modal='feedback')
    .feedback-modal__inner
      .feedback-modal__top 
        .feedback-modal__top-icon(data-feedback-back='')
          +arrow-left-svg.feedback-modal__top-svg 
        .feedback-modal__top-text 
          |Обратная связь
      .feedback-modal__block.active(data-feedback-block='')
        .feedback-modal__container 
          .feedback-modal__list
            .feedback-modal__list-item 
              .feedback-modal__list-link(data-feedback-link='')
                .feedback-modal__list-icon 
                  +chat-svg.feedback-modal__list-svg 
                .feedback-modal__list-text 
                  |Чат со специалистом
            .feedback-modal__list-item 
              .feedback-modal__list-link(data-feedback-link='')
                .feedback-modal__list-icon 
                  +phone-svg.feedback-modal__list-svg 
                .feedback-modal__list-text 
                  |Обратный звонок
            .feedback-modal__list-item 
              a.feedback-modal__list-link(href="#")
                .feedback-modal__list-icon 
                  +doc-svg.feedback-modal__list-svg 
                .feedback-modal__list-text 
                  |Написать обращение
            .feedback-modal__list-item 
              .feedback-modal__list-link(data-feedback-link='')
                .feedback-modal__list-icon 
                  +loc-svg.feedback-modal__list-svg 
                .feedback-modal__list-text 
                  |Контакты
      .feedback-modal__block(data-feedback-block='')
        .feedback-modal__chat
          .feedback-modal__chat-body
            .feedback-modal__chat-date 
              |12 октября 2021
            .feedback-modal__chat-item 
              .feedback-modal__chat-wrapper
                .feedback-modal__chat-message 
                  |Здравствуйте!
                .feedback-modal__chat-info 
                  .feedback-modal__chat-time 
                    |18:22
                  .feedback-modal__chat-icon.active
                    +readed-svg.feedback-modal__chat-svg
            .feedback-modal__chat-item.received
              .feedback-modal__chat-wrapper
                .feedback-modal__chat-name 
                  |Дарья
                .feedback-modal__chat-message
                  |Здравствуйте! Чем я могу Вам помочь?
                .feedback-modal__chat-info 
                  .feedback-modal__chat-time 
                    |18:22
          form.feedback-modal__chat-bot(action="#")
            label.feedback-modal__file 
              input.feedback-modal__file-input(type="file")
              .feedback-modal__file-icon 
                +clip-svg.feedback-modal__file-svg
            input.feedback-modal__chat-input(type="text" placeholder='Напишите сообщение')
            button.feedback-modal__button
              +send-svg.feedback-modal__button-svg
      .feedback-modal__block(data-feedback-block='')
        .feedback-modal__call
          .feedback-modal__call-top
            form.feedback-modal__call-form(action="#")
              .feedback-modal__call-heading 
                |Перезвоним в ближайшее время!
              .feedback-modal__call-text 
                |Укажите номер, на который можно перезвонить
              .feedback-modal__call-input 
                +input-second(type='text' placeholder='Контактный телефон')
              .feedback-modal__call-btns 
                .feedback-modal__call-btn 
                  button.button
                    |Продолжить
                .feedback-modal__call-btn 
                  .button.button--outline
                    |Отменить
              .feedback-modal__call-caption 
                |Нажимая “Продолжить” я соглашаюсь с 
                a.feedback-modal__call-link(href="#") 
                  |политикой конфиденциальности
            .feedback-modal__call-resp 
              |RESPONSE
          .feedback-modal__call-bot
            .feedback-modal__call-item 
              |Контактый центр: #[a(href="#")  8 (812) 595-81-21]
            .feedback-modal__call-item 
              |Техническая поддержка: #[a(href="#")  8 (812) 595-81-21]
      .feedback-modal__block(data-feedback-block='')
        .feedback-modal__contacts
          .feedback-modal__contacts-blocks
            .feedback-modal__contacts-block 
              .feedback-modal__contacts-text 
                |Контактный центр
              .feedback-modal__contacts-wrapper 
                a.feedback-modal__contacts-heading(href="#")
                  |8 (812) 595-81-21
              .feedback-modal__contacts-label 
                |Ежедневно  с 09:00 до 21:00
            .feedback-modal__contacts-block 
              .feedback-modal__contacts-text 
                |Техническая поддержка
              .feedback-modal__contacts-wrapper 
                a.feedback-modal__contacts-heading(href="#")
                  |8 (812) 595-81-22
              .feedback-modal__contacts-label 
                |Круглосуточно
            .feedback-modal__contacts-block 
              .feedback-modal__contacts-text 
                |Офисы приёма клиентов:
              .feedback-modal__contacts-label 
                |Ежедневно с 10-00 до 21-00
              .feedback-modal__contacts-list 
                each item in ['пр. Просвещения, 85', 'пр. Художников, 33/4', 'ул. Хошимина, 5/1', 'пр. Мориса Тереза, 74', 'ул. Сизова, 21', 'ул. Варшавская, 23/3']
                  .feedback-modal__contacts-item 
                    a.feedback-modal__contacts-link(href="#")
                      |#{item}
            .feedback-modal__contacts-block 
              .feedback-modal__contacts-btn 
                a.button.button--outline(href="#")
                  |Сайт ПАКТ 
          .feedback-modal__contacts-bot 
            a.feedback-modal__contacts-icon(href="#")  
              +vk-svg.feedback-modal__contacts-svg
            a.feedback-modal__contacts-icon(href="#") 
              +yt-svg.feedback-modal__contacts-svg

mixin change-mail-modal 
  .change-modal.modal(data-fancy-modal='change')
    .change-modal__container(data-response-container='')
      .modal__title 
        |Изменить адрес email
      form.change-modal__form(action="/" data-form='change-email')
        +input(type = 'email' placeholder = 'Эл. почта')
        .change-modal__btns.change-modal__inner
          .change-modal__item 
            button.button
              |Продолжить
          .change-modal__item 
            .button.button--outline(data-fancybox-close='')
              |Отменить
      .change-modal__response(data-response='change-email')
        .change-modal__text 
          |На адрес #[a(href="mailto:valentinavi@gmail.com")  valentinavi@gmail.com] отправлено письмо с подтверждением. Пройдите по ссылке в письме для подтверждения изменения адреса эл.почты
        .change-modal__inner 
          .change-modal__button 
            .button(data-fancybox-close='')
              |Готово
      .change-modal__caption 
        |Если у вас отсутствует доступ к номеру или почте, обратитесь в КЦ по тел.: 8 (812) 595-81-21
    .modal__icon.alt(data-fancybox-close='')
      +cross-alt-svg.modal__svg.small
